.idea
.coverage

dataset/twitter_6K/*
!dataset/twitter_6K/.gitkeep

dataset/twitter_100K/*
!dataset/twitter_100K/.gitkeep

embedding/*
!embedding/.gitkeep

models/*
!models/.gitkeep

results/*
!results/.gitkeep
